<h1 class="h1">The matches for today are:</h1>
<table class="table">
  <tr id="matches">
    <th class="text-center">Student1</th>
    <th class="text-center">Student2</th>
  </tr>
  <% @matches_today.each do |match| %>
    <tr id="match">
      <td><%= User.get_name(match.student1).join('') %></td>
      <td><%= User.get_name(match.student2).join('')  %></td>
    </tr>
  <% end %>
</table>

<h2 class="h2">All days:</h2>
<% Match::DATES.each do |d| %>
  <div class="col-sm-4">
    <h3 class="h3"><%= d %></h3>
    <% Match.get_matches_by_date(d).each do |match| %>
        <p><span><%= User.get_name(match.student1).join('') %></span> - <span><%= User.get_name(match.student2).join('')  %></span></p>
    <% end %>
  </div>
<% end %>
